// при создании других scss файлов вначале записывай их сюда через @import, а потом вноси в них данные (если появятся в css папке, посмотри, сохраняются ли данные в style.css, если да, удаляй)

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import "null";
@import "lightgallery";
@import "forms";
@import "nouislider";
@import "tippy";
@import "datepicker";
@import "popup";
@import "header";

body {
   font-size: 20px;
   line-height: 150%;
   background-color: #333;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #fff;
   &._lock {
      overflow: hidden;
   }
}

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   &._loaded {}
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
   max-width: $maxWidthContainer + px;
   margin: 0 auto;

   @media (max-width: $md1+px) {
      max-width: 970px;
   }

   @media (max-width: $md2+px) {
      max-width: 750px;
   }

   @media (max-width: $md3+px) {
      max-width: none;
      padding: 0 10px;
   }
}

//<ОСНОВНОЙ БЛОК>===========================================================================================

.page {
   flex: 1 1 auto;
   padding: 100px 30px 30px 30px;
   display: flex;
   &__side {
      flex: 0 0 300px;
      // padding: 0px 20px 0px 0px;
      margin: 0px 20px 0px 0px;
   }
   &__item {}
   &__body {
      flex: 1 1 auto;
      min-width: 0;
      // если swiper помещаем во flex контейнер, то его нужно "полечить" min-width: 0;
   }
}

//=================================================================================================================

.tabs-block {
   margin: 0px 0px 50px 0px;
   &__nav {
      display: flex;
      margin: 0px -2px;
   }
   &__item {
      flex: 0 1 33.333%;
      margin: 0px 2px;
      background-color: #7a956b;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &._active {
         background-color: #77608d;
      }
   }
   &__body {
      padding: 20px 0px 0px 0px;
   }
   &__block {
   }
}

._tabs-block {
   display: none;

   &._active {
      display: block;
   }
}

//=================================================================================================================

/* если нужно, чтобы открывался только один спойлер, а остальные закрывались (аккордеон), добавляй класс ._one первому блоку */
.spollers-block {
   margin: 0px 0px 50px 0px;

   &__item {
      margin: 0px 0px 20px 0px;

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }

   &__title {
      background-color: #794f45;
      cursor: pointer;
      // pr побольше, см. панель разраба
      padding: 20px 70px 20px 20px;
      position: relative;

      &::before {
         content: "";
         width: 20px;
         background-color: #fff;
         height: 2px;
         transition: transform 0.3s ease 0s;
         transform: translate(0, -50%) rotate(-45deg);
         position: absolute;
         right: 15px;
         top: 50%;
      }

      &::after {
         content: "";
         width: 20px;
         background-color: #fff;
         height: 2px;
         transition: transform 0.3s ease 0s;
         transform: translate(0, -50%) rotate(45deg);
         position: absolute;
         right: 28.5px;
         top: 50%;
      }

      // птичка будет летать
      &._active {
         &::before {
            transform: translate(0, -50%) rotate(45deg);
         }

         &::after {
            transform: translate(0, -50%) rotate(-45deg);
         }
      }
   }
   /* когда нужен отступ между спойлером и его телом, устанавливайте его паддингом для выезжающего контента (если делать через margin будет резаная анимация */
   &__body {
      display: none;
      padding: 20px 0px 0px 0px;
   }
}

//=================================================================================================================

.form {
   margin: 0px 0px 30px 0px;
   &__line {
      margin: 0px 0px 10px 0px;
   }

   &__label {
      display: inline-block;
      margin: 0px 0px 15px 0px;
   }
   .select {
      margin: 30px 0px 30px 0px;
   }
}

.btn {
   line-height: 200%;
   font-size: 14px;
   padding: 0px 10px;
   border-radius: 10px;
   background-color: #77608d;
   color: #fff;
}

//==================================================================================================================

.price {

   &__range {}

   &__inputs {
      display: flex;

      input {
         margin: 0px 10px 0px 0px;
      }
   }
}

//=================================================================================================================
._swiper {
   overflow: hidden;

   >div {
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      display: flex;
      position: relative;
   }

   &.swiper-container-autoheight {
      >div {
         align-items: flex-start;
      }
   }
}

.swiper-container-initialized {
   .swiper-slide {
      flex-shrink: 0;
      // transition-property: transform;
   }
}

.swiper-container-android {

   .swiper-slide,
   .swiper-wrapper {
      transform: translate3d(0px, 0, 0);
   }
}

.swiper-button-lock {
   display: none !important;
}

.slider {
   cursor: pointer;
   margin: 20px 0px 40px 0px;
   color: #a8a0a0;
}

.text {
   transform: translate(0px, 100px);
   opacity: 0;
   transition: all 0.3s ease 0s;
   &._active {
      transform: translate(0px, 0px);
      opacity: 1;
   }
   a {
      color: red;
   }
   margin: 0px 0px 30px 0px;
}

//==================================================================================================================
.gallery-block {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -10px;

   &__item {
      flex: 0 1 33.333%;
      margin: 0px 0px 20px 0px;
      padding: 0px 10px;

      img {
         max-width: 100%;
      }
   }
}




